<!DOCTYPE html>
<html lang="<%= espanol ? "es":"en" %>">
<head>
  <% include ../partials/header.ejs %>
  <% var URL_LANG = espanol ? "?lang=es":"";  %>
  <title><%= espanol ? "Puerto Rico":"Puerto Rico 584 - A multimedia project by the UNC School of Media and Journalism" %></title>
  <meta property="og:title" content="<%= espanol ? "Puerto Rico 584 - Un proyecto multimedia por UNC School of Media and Journalism": "Puerto Rico 584 - A multimedia project by the UNC School of Media and Journalism" %>" />
  <meta property="og:image" content="http://cubasnewwave.unc.edu/assets/images/features/home.jpg" />

</head>

<body>

  <% include ../partials/nav.ejs %>
  <div id="index-container">
  </div>

<footer>
    <div class="item centered links">
      <div class="logo-wrapper">

        <a href="/">
          <img>
        </a>

      </div>
      <div id="about-footer">
      <a href="/about<%=URL_LANG%>">
        <%= espanol ? navSpan[5] : navEng[5] %>
      </a></li><br>
      </div>
        <div class="sm-icons">
           <a class="facebook" href="https://www.facebook.com/PuertoRico584/" target="_blank"><i class="fa fa-facebook icons" aria-hidden="true"></i></a>
           <a class="twitter" href="https://www.twitter.com/PuertoRico584/" target="_blank"><i class="fa fa-twitter icons" aria-hidden="true"></i></a>
           <a class="instagram" href="https://www.instagram.com/PuertoRico584/" target="_blank"><i class="fa fa-instagram icons" aria-hidden="true"></i></a>
        </div>

    </div> <!--Close item -->
</footer>
  </div>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
